@tailwind base;
@tailwind components;
@tailwind utilities;

.resize-drag {
  position: absolute;
  z-index: 10;
  width: 120px;
  border-radius: 8px;
  padding: 5px;
  margin: 1rem;
  background-color: #29e;
  color: white;
  font-family: sans-serif;
  outline-color: transparent;
  touch-action: none;
  box-sizing: border-box;
}
